# Dart / Flutter
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
*.g.dart
*.freezed.dart

# Flutter web
web/index.html
web/manifest.json

# IDE
.idea/
*.iml
.vscode/
*.swp

# OS
.DS_Store
Thumbs.db

# Env / secrets
.env
*.key
*.pem
